.card {
  border: 1px solid $card_header_background;
  width: auto;
  margin-bottom: 5px;
  .card-header {
    padding: 10px;
    background-color: $card_header_background;
    font-size: 12px;
    font-weight: bold;
    color: $card_header_font_color;
  }
  .card-body {
    padding: 10px;
    background-color: white;

    &.no-padding {
      padding: 0;
    }
  }
}
