//=========================================================
//  Grid
//---------------------------------------------------------
@mixin grid-sm-responsive() {
  float: left;
  padding: 5px;
  @media (max-width: $grid-sm) {
    width: 100%;
  }
}

.g-row {
  @include grid-row;
}

.g-col {
  @include grid-column;
  width: 100%;
}



// Grid Row
.row {
  @include clearfix;
}

// Grid Small
.grid-1 {
  width: 8.333%;
  @include grid-sm-responsive;
}

.grid-2 {
  width: 16.667%;
  @include grid-sm-responsive;
}
.grid-3 {
  width: 24.999%;
  @include grid-sm-responsive;
}
.grid-4 {
  width: 33.333%;
  @include grid-sm-responsive;
}
.grid-5 {
  width: 41.667%;
  @include grid-sm-responsive;
}
.grid-6 {
  width: 49.999%;
  @include grid-sm-responsive;
}
.grid-7 {
  width: 58.333%;
  @include grid-sm-responsive;
}
.grid-8 {
  width: 66.667%;
  @include grid-sm-responsive;
}
.grid-9 {
  width: 74.999%;
  @include grid-sm-responsive;
}
.grid-10 {
  width: 83.333%;
  @include grid-sm-responsive;
}
.grid-11 {
  width: 91.667%;
  @include grid-sm-responsive;
}
.grid-12 {
  width: 100%;
  float: left;
}

// Grid Extra Small
.grid-xs-1  {  float:left;  padding: 5px;  width: 8.333%;  }
.grid-xs-2  {  float:left;  padding: 5px;  width: 16.667%;  }
.grid-xs-3  {  float:left;  padding: 5px;  width: 24.999%;  }
.grid-xs-4  {  float:left;  padding: 5px;  width: 33.333%;  }
.grid-xs-5  {  float:left;  padding: 5px;  width: 41.667%;  }
.grid-xs-6  {  float:left;  padding: 5px;  width: 49.999%;  }
.grid-xs-7  {  float:left;  padding: 5px;  width: 58.333%;  }
.grid-xs-8  {  float:left;  padding: 5px;  width: 66.667%;  }
.grid-xs-9  {  float:left;  padding: 5px;  width: 74.999%;  }
.grid-xs-10 {  float:left;  padding: 5px;  width: 83.333%;  }
.grid-xs-11 {  float:left;  padding: 5px;  width: 91.667%;  }
.grid-xs-12 {  float:left;  padding: 5px;  width: 100%;  }
