@mixin table-border {
  padding: 10px;
  border: 1px solid #CCC;
}

table {
  border: 1px solid #CCC;
  &.table {
    width: 100%;
    tr {
      td {
        @include table-border();
      }
      th {
        background-color: #EEE;
        @include table-border();
      }
    }
    &.table-hover {
      tbody {
        tr {
          &:hover {
            background-color: #EEE;
          }
        }
      }
    }
  }
}
