//=========================================================
//  TaskFilters
//---------------------------------------------------------

.task-filters {
  @include clearfix;
  margin-bottom: 45px;
  padding-left: 1px;
  font-size: rem(16px);
  line-height: 24px;
  list-style-type: none;

  @include media-query(540) {
    margin-bottom: 55px;
  }

  li {
    float: left;

    &:not(:first-child) {
      margin-left: 12px;
    }

    &:not(:first-child):before {
      padding-right: 12px;
      content: '/';
      font-weight: 300;
    }
  }

  a {
    color: #999;
    text-decoration: none;

    &.active {
      color: black;
    }
  }
}

//=========================================================
//  TaskForm
//---------------------------------------------------------

.task-form {
  margin: 40px 0 10px;

  @include media-query(540) {
    margin: 80px 0 20px;
  }
}


.task-form__input {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: rem(24px);
  font-weight: 300;
  color: #000;
  background: transparent;

  @include media-query(540) {
    height: 61px;
    font-size: rem(32px);
  }

  &::placeholder {
    color: #999;
    opacity: 1; // firefox native placeholder style has opacity < 1
  }

  &:focus::placeholder {
    color: #777;
    opacity: 1;
  }

  // webkit input doesn't inherit font-smoothing from ancestors
  -webkit-font-smoothing: antialiased;

  // remove `x`
  &::-ms-clear {
    display: none;
  }
}

//=========================================================
//  TaskItem
//---------------------------------------------------------

.task-item {
  display: flex;
  outline: none;
  border-bottom: 1px dotted #666;
  height: 60px;
  overflow: hidden;
  color: purple;
  font-size: rem(18px);
  font-weight: 300;

  @include media-query(540) {
    font-size: rem(24px);
  }
}

.task-item--editing {
  border-bottom: 1px dotted #ccc;
}


//=====================================
//  Cells
//-------------------------------------
.cell {
  &:first-child,
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(2) {
    flex: 1;
    padding-right: 30px;
    overflow: hidden;
  }
}


//=====================================
//  Buttons
//-------------------------------------
.task-item__button {
  margin-left: 5px;
  border-radius: 100px;
  padding: 3px 0 0 0;
  width: 40px;
  height: 40px;
  background: #eeeeee;

  &:first-child {
    margin: 0;
  }
}

.icon {
  fill: #333;
  transform: translate(0, 0);

  .task-item__button:hover & {
    fill: #666;
  }
}

.icon--active {
  &, .task-item__button:hover & {
    fill: #85bf6b;
  }
}


//=====================================
//  Title (static)
//-------------------------------------
.task-item__title {
  display: inline-block;
  position: relative;
  max-width: 100%;
  line-height: 60px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid #85bf6b;
    width: 0;
    height: 46%;
    content: '';
  }

  .task-item--completed & {
    color: #666;
  }

  .task-item--completed &:after {
    width: 100%;
  }
}


//=====================================
//  Title (input)
//-------------------------------------
.task-item__input {
  outline: none;
  border: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  color: inherit;
  font: inherit;
  background: transparent;

  // remove `x`
  &::-ms-clear {
    display: none;
  }
}

//=========================================================
//  TaskList
//---------------------------------------------------------

.task-list {
  border-top: 1px dotted #666;
}
